<ion-view title="" class="padding">
    <ion-content has-header="true" padding="true">


        <h3 class="center">{{'acoustician_register_shop' | translate}}</h3>


        <p>{{'acoustician_register_text1' | translate}}</p>

        <p>{{'acoustician_register_text2' | translate}}</p>

        <br/>


        <a  class="orderbutton button button-positive" style="float:right;" ng-click="open()" target="_system" onclick="window.open(this.href, '_system', 'location=yes'); return false;">
            {{'acoustician_button_register' | translate}}
        </a>

    </ion-content>
</ion-view>