<ion-view title="">
    <ion-content class="has-header padding">
        <h3 class="csc-firstHeader">Impressum / Haftungsausschluss</h3>
        <p ><strong>VARTA Microbattery GmbH <br></strong>Daimlerstr. 1 <br>D-73479 Ellwangen <br><br>Telefon: <a href="tel:+ 49 7961 921790">(+49) 7961 921790</a> <br>Fax: (+49) 7961 921553 <br>E-Mail: <a class="english" title="to" href="mailto:webmaster@powerone-batteries.com?subject=Inquiry">webmaster@powerone-batteries.com</a><br><br><br></p>
        <table cellspacing="0" cellpadding="0" border="0" class="contenttable">
            <tbody>
            <tr valign="top" align="left">
                <td width="250">
                    <p ><strong>Vorsitzender des Aufsichtsrates:</strong></p>
                </td>
                <td width="350">
                    <p >DDr. Michael&nbsp;Tojner</p>
                </td>
            </tr>
            <tr valign="top" align="left">
                <td>
                    <p ><strong>Geschäftsführung:</strong></p>
                </td>
                <td>
                    <p >Herbert Schein (CEO)<br>Jens Stahmann (CFO)</p>
                </td>
            </tr>
            <tr valign="top" align="left">
                <td>
                    <p ><strong>Sitz: </strong></p>
                </td>
                <td>
                    <p >Ellwangen / Jagst</p>
                </td>
            </tr>
            <tr valign="top" align="left">
                <td>
                    <p ><strong>Registergericht: </strong></p>
                </td>
                <td>
                    <p >Ulm HRB 725931</p>
                </td>
            </tr>
            <tr valign="top" align="left">
                <td>
                    <p ><strong>USt-IdNr.<strong>:<br></strong></strong></p>
                </td>
                <td>
                    <p >DE 813 228 346 </p>
                </td>
            </tr>
            </tbody>
        </table>
        <h4>&nbsp;</h4>
        <h4>Haftungsausschluss </h4>
        <p>Bei der Erstellung dieser Webseite werden alle Anstrengungen unternommen, um die darin enthaltenen Informationen möglichst aktuell, sachlich korrekt und eindeutig zu halten. Trotz aller Sorgfalt kann es jedoch zu unbeabsichtigten Fehlangaben kommen. Die VARTA Microbattery GmbH schließt daher insbesondere jegliche Haftung für Tipp- oder Druckfehler und für die Exaktheit, Vollständigkeit und Aktualität der auf der Webseite des Unternehmens enthaltenen Informationen aus. Die auf der VARTA Microbattery GmbH-Webseite bereitgehaltenen Informationen und Daten können jederzeit ohne Vorankündigung geändert werden. Sie werden von der VARTA Microbattery GmbH unverbindlich und unter Ausschluß jeglicher Garantien oder Zusicherungen angeboten.
        </p>
        <p>Soweit die VARTA Microbattery GmbH-Webseite Links oder Pointers auf Webseiten Dritter enthält, übernimmt die VARTA Microbattery GmbH für die dort erhältlichen Informationen, Mitteilungen, Materialien oder Links auf weitere Webseiten keinerlei Verantwortung. Wir erklären ausdrücklich, dass wir uns Inhalte gelinkter Seiten nicht in jedem Fall zu eigen machen.
        </p>
        <p>Indem Sie die VARTA Microbattery GmbH-Webseite benutzen, tragen Sie die gesamte Gefahr, die mit der Benutzung zusammenhängt, einschließlich sämtlicher Risiken einer Schädigung Ihrer Computer, Software oder Daten durch Viren oder andere Software, die über die VARTA Microbattery GmbH-Webseite oder Ihren Zugriff darauf übertragen oder aktiviert wird. In keinem Fall haftet die VARTA Microbattery GmbH für irgendeinen direkten, indirekten, besonderen, Begleit- oder Folgeschaden oder entgangenen Gewinn, die sich aus dem Gebrauch oder Fehlgebrauch von Informationen oder aus unvollständigen Informationen auf der Webseite der VARTA Microbattery GmbH ergeben.
        </p>
    </ion-content>
</ion-view>