<ion-view title="" class="padding">
    <ion-content has-header="true" padding="true">

        <h3 class="center">{{'healthbook_headline_mybattery' | translate}} </h3>
        <div class="list">
            <br/>
            <div class="item item-divider bordertop">{{'healthbook_headline_myhearingaid' | translate}}</div>
            <label class="item item-input">
                <span class="input-label">{{'healthbook_label_label' | translate}} </span>
                <input type="text" ng-model="aiddevice.label" placeholder="{{'healthbook_placeholder_label' | translate}} ">
            </label>

            <label class="item item-input borderbottom">
                <span class="input-label">{{'healthbook_label_type' | translate}} </span>
                <input type="text" ng-model="aiddevice.type" placeholder="{{'healthbook_placeholder_type' | translate}} ">
            </label>
            <br/>
        </div>


        <div class="item item-divider bordertop">
            {{'healthbook_headline_reminder' | translate}}
        </div>
        <a class="item item-icon-right" href="#/tab/medkit-reminderdate">
            {{'healthbook_label_date' | translate}}
            <span id="medkit-reminderdate" class="item-note"><span ng-show="aiddevice.reminderday">{{aiddevice.reminderday}}.{{aiddevice.remindermonth}}.{{aiddevice.reminderyear}}</span></span>
            <i class="icon ion-ios7-arrow-right"></i>
        </a>
        <div class="item item-toggle borderbottom">
            {{'healthbook_label_reminderactive' | translate}}
            <label class="toggle">
                <input ng-model="aiddevice.reminderactive" type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
        <br/>


    </ion-content>
</ion-view>