<ion-view title="">


    <ion-content has-header="true" padding="true">

        <h4 ng-hide="{{drugs}}">{{'healthbook_headline_no_drugs' | translate}}</h4>
        <p ng-hide="{{drugs}}">
            {{'healthbook_text_adddrugs' | translate}}
        </p>

        <ion-list>
            <ion-item ng-repeat="drug in drugs" type="item-text-wrap" class="item item-icon-right" href="#/tab/medkit-details/{{$index}}">
                {{drug.title}}
                 <span class="item-note">
                    <span ng-show="drug.startday">{{drug.startday}}.{{drug.startmonth}}.{{drug.startyear}}</span>
                    <span ng-show="drug.endday"> - </span>
                    <span ng-show="drug.endday">{{drug.endday}}.{{drug.endmonth}}.{{drug.endyear}}</span>
                    <span ng-show="drug.timehour">({{drug.timehour}}:{{drug.timeminute}} Uhr)</span>
                 </span>
                <i class="icon ion-ios7-arrow-right"></i>
            </ion-item>
        </ion-list>

        <br/>

        <button id="contact-submit" class="button button-positive" ng-click="addMedikitEntry()" style="float:right;">
            <span>{{'healthbook_button_newdrug' | translate}}</span>
        </button>


    </ion-content>
</ion-view>

