<!--
https://github.com/manateeworks/phonegap-mwbarcodescanner
-->

<ion-view id="tab-healthbook" title="">

    <ion-nav-buttons side="right">
        <a href="#/tab/mirror" class="button button-clear button-positive icon-left ion-ios7-camera-outline"> {{'healthbook_mirror' | translate}}</a>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="box">

            <h3 class="center">{{'headline_healthbook' | translate}}</h3>



                <div class="item item-divider bordertop">
                    <span class="title">{{'healthbook_headline_mydrug' | translate}}</span> <a class="button button-small button-positive" style="float:right;" href="#/tab/mymedkit"><span>{{'healthbook_button_create' | translate}}</span></a>
                </div>
                <div class="item borderbottom" ng-hide="{{drugs}}">
                    <p>{{'healthbook_noglass_drug' | translate}}</p>
                </div>
                <ion-list>
                    <ion-item ng-repeat="drug in drugs" type="item-text-wrap" class="item item-icon-right" href="#/tab/medkit-details/{{$index}}">
                        {{drug.title}}
                             <span class="item-note">
                                <span ng-show="drug.startday">{{drug.startday | date:'dd.MM.yy'}}</span>
                                <span ng-show="drug.endday"> - </span>
                                <span ng-show="drug.endday">{{drug.endday | date:'dd.MM.yy'}}</span>
                                <span ng-show="drug.timehour">({{drug.timehour}}:{{drug.timeminute}} Uhr)</span>
                             </span>
                        <i class="icon ion-ios7-arrow-right"></i>
                    </ion-item>
                </ion-list>

                <br/>

                <div class="item item-divider bordertop">
                    {{'healthbook_headline_myglass' | translate}}
                </div>

                <a class="item item-icon-right borderbottom" href="#/tab/medkit-glass">

                    <p ng-hide="glass.optician || glass.sphright || glass.cylright || glass.aright || glass.addright || glass.sphleft || glass.cylleft || glass.aleft || glass.addleft">{{'healthbook_noglass_info' | translate}}</p>
                        <span ng-show="glass.optician || glass.sphright || glass.cylright || glass.aright || glass.addright || glass.sphleft || glass.cylleft || glass.aleft || glass.addleft">
                            <p><strong>R</strong>
                                <span ng-show="glass.sphright">F Sph {{glass.sphright}}</span>
                                <span ng-show="glass.cylright">Cyl {{glass.cylright}}</span>
                                <span ng-show="glass.aright">A {{glass.aright}}</span>
                                <span ng-show="glass.addright">add {{glass.addright}}</span>
                            </p>
                            <p><strong>L</strong>
                                <span ng-show="glass.sphleft">F Sph {{glass.sphleft}}</span>
                                <span ng-show="glass.cylleft">Cyl {{glass.cylleft}}</span>
                                <span ng-show="glass.aleft">A {{glass.aleft}}</span>
                                <span ng-show="glass.addleft">add {{glass.addleft}}</span>
                            </p>
                        </span>
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>

                <br/>

                <div class="item item-divider bordertop">
                    {{'healthbook_headline_myglasslenses' | translate}}
                </div>

                <a class="item item-icon-right borderbottom" href="#/tab/medkit-lenses">

                    <p ng-hide="glass.lensesoptician || glass.lensessphright || glass.lensescylright || glass.lensesaright || glass.lensesaddright || glass.lensessphleft || glass.lensescylleft || glass.lensesaleft || glass.lensesaddleft">{{'healthbook_noglass_info' | translate}}</p>
                        <span ng-show="glass.lensesoptician || glass.lensessphright || glass.lensescylright || glass.lensesaright || glass.lensesaddright || glass.lensessphleft || glass.lensescylleft || glass.lensesaleft || glass.lensesaddleft">
                            <p><strong>R</strong>
                                <span ng-show="glass.sphright">F Sph {{glass.lensessphright}}</span>
                                <span ng-show="glass.cylright">Cyl {{glass.lensescylright}}</span>
                                <span ng-show="glass.aright">A {{glass.lensesaright}}</span>
                                <span ng-show="glass.addright">add {{glass.lensesaddright}}</span>
                            </p>
                            <p><strong>L</strong>
                                <span ng-show="glass.sphleft">F Sph {{glass.lensessphleft}}</span>
                                <span ng-show="glass.cylleft">Cyl {{glass.lensescylleft}}</span>
                                <span ng-show="glass.aleft">A {{glass.lensesaleft}}</span>
                                <span ng-show="glass.addleft">add {{glass.lensesaddleft}}</span>
                            </p>
                        </span>
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>

                <br/>

                <div class="item item-divider bordertop">
                    {{'notes_mynotes' | translate}}
                </div>
                <a class="item item-icon-right borderbottom" href="#/tab/medkit-notes">
                    <p ng-hide="notes.text">{{'notes_notentered' | translate}}</p>
                    <p ng-show="notes.text">{{notes.text}}</p>
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>

            </div>

        </div>

    </ion-content>


</ion-view>